doctype html
html(lang="en")
    head
        title= title
        link(rel='stylesheet', href='/local/main.css')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700')
    body
        .container
            h1 Path
                small.path #{root === '/' || root === '' ? '/' : root}
            ul
                if root !== '/' && root !== ''
                    li
                        a(href= parent) ..
                each file in files
                    if file.directory
                        li
                            a(href=`/browse/${file.path}`) #{file.name}
                    else
                        li
                            a(href=`/raw/${file.path}`) #{file.name}
                            small.file-size  #{file.size}
        script(src="/local/main.js")
